docs/n8n-workflows/01-slack-on-case-created.json
{
  "name": "ClearDesk: Slack notification on case created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cleardesk-case-created",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "ClearDesk Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "cleardesk-case-created"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "case.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-event",
      "name": "Only case.created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#service-leads"
        },
        "text": "=:inbox_tray: *New ClearDesk case #{{ $json.body.case_id }}*\n*From:* {{ $json.body.data.from_name }} <{{ $json.body.data.from_email }}>\n*Subject:* {{ $json.body.data.subject }}\n*Urgency:* {{ $json.body.data.urgency_level || 'not set' }}\n*Intent:* {{ $json.body.data.intent || 'not set' }}\n\n<https://cleardesk.yourcompany.com/dashboard/cases/{{ $json.body.case_id }}|Open in ClearDesk>",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-post",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [680, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "ClearDesk Webhook": {
      "main": [
        [{ "node": "Only case.created", "type": "main", "index": 0 }]
      ]
    },
    "Only case.created": {
      "main": [
        [{ "node": "Post to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Posts a rich Slack message to #service-leads every time ClearDesk creates a new case. Register the webhook URL this produces (POST) in ClearDesk Settings > Webhooks and subscribe to case.created."
  },
  "tags": [
    { "name": "cleardesk" },
    { "name": "notifications" }
  ]
}
